<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>106636016039-cmmnq64d4bgdgc0f5c0jqgcvt54hvsgg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC-tr-Bt3aghhX76FyE7oeFY_2UACTLDZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>106636016039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sellerSideUo</string>
	<key>PROJECT_ID</key>
	<string>project-dronaid-480ca</string>
	<key>STORAGE_BUCKET</key>
	<string>project-dronaid-480ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106636016039:ios:a8190dbf23d50328101e82</string>
	<key>DATABASE_URL</key>
	<string>https://project-dronaid-480ca-default-rtdb.firebaseio.com</string>
</dict>
</plist>